/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .docs-sidebar {
 	border-radius: 6px;
 	padding: 20px;
 	border: 10px solid #f1f1f1;
 }
.docs-sidebar>ul {
	background: #f1f1f1;
}

.docs-sidebar > li.current_page_item ul.children {
	display: block;
}
.docs-sidebar li ul.children {
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.docs-sidebar li.current_page_parent ul.children,
.docs-sidebar li.current_page_ancestor ul.children,
.docs-sidebar li.current_page_item ul.children {
	display: block;
}

.docs-sidebar ul li {
	line-height: 50px;
}
.docs-sidebar ul li a {
	background: #f1f1f1;
	border-bottom: 1px solid #fff;
	display: block;
	color: #333;
}

.docs-sidebar > ul > li > a {
	padding: 0 15px;
}
.docs-sidebar > ul > li.current_page_item>a,
.docs-sidebar > ul > li.page_item_has_children.current_page_ancestor>a,
.docs-sidebar > ul > li.page_item_has_children.current_page_ancestor.current_page_parent>a,
.docs-sidebar > ul > li.page_item_has_children.current_page_item>a {
	background: #6b6b6b;
	color: #fff;	
	padding: 0 15px;
	border-left: 0;
	font-weight: bold;
}
.docs-sidebar .current_page_item>a {
	border-left: 4px solid #ccc;
	padding: 0 15px;
}
 .docs-wrapper {
 	border-radius: 6px;
 	padding: 30px;
	border: 10px solid #f1f1f1;
 }
 .docs-title {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-bottom: 15px;
 }